html, body, .App {
  height: 100%;
  font-size: 12px;
}

.App {
  font-size: 12px;
  margin: 0 auto;
  padding: 10px;
}

.dot {
  width: 100px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
  display: block;

}

.or {
  margin: 10px 0;
}

button {
  border: 0px;
  background-color: white;
  outline: none;
}

audio {
  /*display: none;*/
}

.container {
  margin-top: 5%;
  text-align: center;
flex: 1;
    flexDirection: 'column';
    justifyContent: 'center';
    alignItems: 'center';
}

.headphones {
  margin-top: 5%;
  text-align: center;
}

.paragraphs {
  max-width: 400px;
  overflow-y: scroll;
  margin: 0 auto;
}

.paragraph {
  list-style: none;
  height: 400px;
  overflow-y: hidden;
}

.paragraph li {
  padding: 10px 0;
}

.delete {
  position: absolute;
  bottom: 10px;

}



